body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
  } 

  .body{
    background-color: black;
  }
  
  .painel{
    margin-left: 31%;
  
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
  
  button {
    cursor: pointer;
  }
  
  table {
    margin: auto;
  }
  
  th,
  td {
    padding: 6px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #ddd;
  }
  
  tbody tr:hover {
    font-weight: bold;
    cursor: default;
    font-size: 25px;
  }

  ul li:hover {
    
    cursor: default;
    color: darkred;
  }

  
  
  .title {
    color: darkred;
  }
  
  .author {
    text-align: center;
    font-style: italic;
  }
  